parameters:
	ignoreErrors:
		-
			message: "#^Method Spatie\\\\LaravelData\\\\Data\\:\\:from\\(\\) should return static\\(Spatie\\\\LaravelData\\\\Data\\) but returns Spatie\\\\LaravelData\\\\Data\\.$#"
			count: 1
			path: src/Data.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$acceptedTypes is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$dataClass is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isDataCollection is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isDataObject is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isLazy is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isMixed is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isNullable is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

		-
			message: "#^Readonly property Spatie\\\\LaravelData\\\\Support\\\\DataType\\:\\:\\$isUndefinable is already assigned\\.$#"
			count: 2
			path: src/Support/DataType.php

